source https://api.nuget.org/v3/index.json
//source ./support/nupkg
source https://nuget.devexpress.com/88luCgoeuPFTrDrTDcc6zKg22U2cVcTm3vdKCv88I7PHF9St6i/api

storage: packages
strategy: min
lowest_matching: true
copy_local:true
specific_version : false
framework:netstandard2.0,net9.0,net9.0-windows,net48

nuget DevExpress.RichEdit.Export 24.2.14
nuget DevExpress.Wpf.Core.Extensions 24.2.14
nuget DevExpress.Wpf.DocumentViewer.Core 24.2.14
nuget DevExpress.Wpf.Map 24.2.14
nuget DevExpress.Printing.Core 24.2.14
nuget DevExpress.Mvvm 24.2.14
nuget DevExpress.Wpf.Core 24.2.14
nuget DevExpress.Reporting.Core 24.2.14
nuget DevExpress.Wpf.Scheduling 24.2.14
nuget DevExpress.Data.Desktop 24.2.14
nuget DevExpress.Data 24.2.14
nuget DevExpress.Wpf.Printing 24.2.14
nuget DevExpress.Wpf.RichEdit 24.2.14
nuget DevExpress.Wpf.Charts 24.2.14
nuget DevExpress.Charts.Core 24.2.14
nuget DevExpress.DataVisualization.Core 24.2.14
nuget DevExpress.Wpf.PivotGrid 24.2.14
nuget DevExpress.Wpf.SpellChecker 24.2.14
nuget DevExpress.Wpf.Ribbon 24.2.14
nuget DevExpress.Wpf.Themes.Office2019Colorful 24.2.14
nuget DevExpress.Wpf.Themes.Win11Dark 24.2.14
nuget DevExpress.Wpf.Themes.Win11Light 24.2.14
nuget DevExpress.Utils 24.2.14
nuget DevExpress.Wpf.Controls 24.2.14
nuget DevExpress.Wpf.Docking 24.2.14
nuget DevExpress.Wpf.Spreadsheet 24.2.14
nuget DevExpress.Wpf.Grid.Core 24.2.14
nuget DevExpress.Wpf.LayoutControl 24.2.14
nuget DevExpress.Wpf.Office 24.2.14
nuget DevExpress.Drawing 24.2.14
nuget DevExpress.Office.Core 24.2.14
nuget DevExpress.Pdf.Core 24.2.14
nuget DevExpress.Wpf.Grid 24.2.14
nuget DevExpress.Wpf.Grid.Printing 24.2.14
nuget DevExpress.Wpf.ExpressionEditor 24.2.14
nuget DevExpress.DataAccess 24.2.14
nuget DevExpress.CodeParser 24.2.14
nuget DevExpress.Xpo 24.2.14
nuget DevExpress.Wpf.Diagram 24.2.14
nuget DevExpress.Diagram.Core 24.2.14
nuget DevExpress.Images 24.2.14
nuget DevExpress.Wpf.PropertyGrid 24.2.14
nuget DevExpress.Wpf.TreeMap 24.2.14
nuget DevExpress.Wpf.TreeMap.Core 24.2.14
nuget DevExpress.Wpf.NavBar 24.2.14
nuget DevExpress.Wpf.Accordion 24.2.14
nuget DevExpress.Wpf.PdfViewer 24.2.14
nuget DevExpress.Wpf.Carousel 24.2.14
nuget DevExpress.Wpf.Dialogs 24.2.14
nuget DevExpress.Win.Dialogs.Core 24.2.14
nuget DevExpress.Wpf.Gauges 24.2.14
nuget DevExpress.RichEdit.Core 24.2.14
nuget DevExpress.Scheduler.CoreDesktop 24.2.14
nuget DevExpress.Scheduler.Core 24.2.14
nuget DevExpress.Wpf.TypedStyles 24.2.14
nuget DevExpress.Wpf.PrismAdapters 24.2.14

nuget ZString 2.6.0
nuget Humanizer.Core 3.0.10


nuget Moq 4.20.72
nuget Shouldly 4.3.0
nuget xunit.v3 4.0.0-pre.81
nuget Microsoft.Testing.Platform 2.2.1

nuget Microsoft.Testing.Extensions.CodeCoverage 18.6.2

nuget WixSharp 1.26.0
nuget WixSharp.bin 1.26.0
nuget WixSharp.wix.bin 3.14.1
    
nuget ThisAssembly.Constants 1.4.3

nuget DevExpress.Document.Processor 24.2.14
nuget DevExpress.Drawing.Skia 24.2.14


