source https://api.nuget.org/v3/index.json

storage: packages
strategy: min
lowest_matching: true
copy_local:true
specific_version : false
framework:netstandard2.0,net48

nuget DevExpress.ExpressApp.Office 24.2.8
nuget DevExpress.ExpressApp.Office.Win 24.2.8
nuget DevExpress.ExpressApp.Win 24.2.8
nuget DevExpress.Utils 24.2.8
nuget DevExpress.ExpressApp.Core.All 24.2.8
nuget DevExpress.ExpressApp.Win.All 24.2.8
nuget DevExpress.EasyTest 24.2.8 
nuget DevExpress.ExpressApp.EasyTest.WinAdapter 24.2.8  
nuget DevExpress.ExpressApp.Security.Xpo 24.2.8  
nuget DevExpress.Win.SpellChecker 24.2.8  
nuget ZString 2.5
nuget System.Configuration.ConfigurationManager == 9.0.0

nuget DevExpress.Document.Processor 24.2.8
nuget DevExpress.Drawing.Skia 24.2.8
nuget DevExpress.ExpressApp 24.2.8
nuget DevExpress.ExpressApp.Win 24.2.8
nuget DevExpress.Persistent.Base 24.2.8
nuget DevExpress.RichEdit.Export 24.2.8
nuget DevExpress.Win.Design 24.2.8
nuget DevExpress.Win.Map 24.2.8
nuget DevExpress.ExpressApp.Security.Xpo  24.2.8
nuget DevExpress.Persistent.BaseImpl.Xpo  24.2.8

nuget DevExpress.DataAccess.UI  24.2.8
nuget DevExpress.Win.Gauges  24.2.8
nuget DevExpress.Win.Reporting  24.2.8

nuget Fasterflect.Xpand 2.0.7
nuget Microsoft.CSharp 4.7.0

// ---------- System / transitive pins ----------
nuget ThisAssembly.Constants 2.1.5
nuget System.Runtime.CompilerServices.Unsafe 6.1.2
nuget Microsoft.CodeAnalysis 5.0
nuget System.ValueTuple 4.6.2
nuget System.Memory 4.6.3
nuget System.Net.Http 4.3.4
nuget System.Text.RegularExpressions 4.3.1

// ---------- Testing --------
nuget xunit.runner.visualstudio 4.0.0
nuget Moq 4.20.72
nuget Shouldly 4.3.0
nuget xunit.v3.extensibility.core 4.0.0
nuget Microsoft.Testing.Extensions.CodeCoverage 18.8.0
nuget Microsoft.TestPlatform.ObjectModel 18.8.1
nuget Microsoft.Testing.Platform 2.4.1
nuget Microsoft.Testing.Platform.MSBuild 2.4.1


// ---------- Misc ----------
nuget WixSharp_wix4 2.14.1
// ---------- Build-wide (was GlobalPackageReference) ----------
nuget Nerdbank.GitVersioning 3.10.94
